<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>this is all about</h1>
    <br />
    <h2>Unimportant Things</h2>
    <br />
    <%= link_to 'Dive Deeper', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>

<!-- <div class="row feature text center">
  <div class="col-12 col-sm">
    <h3>Best Air Jordan 1 & Yeezy 350 v2</h3>
    <br />
    <p>Air Jordan 1 is the best sneakers of all time, but Yeezy 350 v2 is a rasing star!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Pokémon Sword and Shield</h3>
    <br />
    <p>First time ever to have the ability to play Pokémon on your TV!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>iPhone xi vs Pixel 4</h3>
    <br />
    <p>Apple or Google? who will lead us to the smartphone's future this year? </p>
  </div>
</div> -->